# Uygulama - Mülatak Sorusu

### Aşağıdaki şekilde string değiştiren fonksiyon yazmak istiyoruz.

before: "hi my name is john and i am learning python"
after: "Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHon"

In [1]:
def change(cumle):
    yeniCumle=""
    for i in range(len(cumle)):
        if i%2==0:
            yeniCumle= yeniCumle+cumle[i].upper()
        else:
            yeniCumle+=cumle[i]
    print(yeniCumle)
    return yeniCumle

In [2]:
change("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

'Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN'

### Enumarate

In [3]:
students = ["John","Mark","Venessa","Mariam"]

In [6]:
for student in students:
    print(student)

for index,student in enumerate(students):
    print(index,student)

John
Mark
Venessa
Mariam
0 John
1 Mark
2 Venessa
3 Mariam

In [7]:
A = []
B = []

In [8]:
for index,student in enumerate(students):
    if index %2 ==0:
        A.append(student)
    else:
        B.append(student)

In [10]:
A
B

['Mark', 'Mariam']

# UYGULAMA MÜLAKAT
divide_students fonksiyonu
çift indekste yer alanlar bir yere
tek indekste yer alanlar bir yere
fakat bu iki liste tek bir liste olarak return olsun

In [13]:
students = ["John","Mark","Venessa","Mariam"]
def divide_students(students):
    firstStudents = []
    secondStudents = []
    for index,student in enumerate(students):
        if index %2 ==0:
            firstStudents.append(student)
        else:
            secondStudents.append(student)
    allStudents = firstStudents+secondStudents
    return allStudents

In [14]:
divide_students(students)

['John', 'Venessa', 'Mark', 'Mariam']

### Alternating fonksiyonunun enumarate ile yazılması

In [16]:
def alternating_with_enumarate(string):
    new_string = ""
    for i,letter in enumerate(string):
        if i %2 ==0:
            new_string+=letter.upper()
        else:
            new_string+= letter.lower()
    print(new_string)

In [18]:
students = ["John","Mark","Venessa","Mariam"]

departments = ["physics","mathematic"]

numbers = [1,7,2,2]

In [21]:
list(zip(students,departments,numbers))

[('John', 'physics', 1), ('Mark', 'mathematic', 7)]

### lamda , map , filter , reduce

In [22]:
def summer(a,b):
    return a + b

In [23]:
new_sum = lambda a,b : a+b

In [24]:
new_sum(4,5)

9

In [25]:
#map

In [26]:
salaries = [1000,2000,3000,4000,5000]

In [27]:
list(map(new_Salary,salaries))

NameError: name 'new_Salary' is not defined

In [28]:
list(map(lambda x:x+20/100,salaries))

[1000.2, 2000.2, 3000.2, 4000.2, 5000.2]